@import "tailwindcss";

/* Keep base predictable */
html,
body {
  height: 100%;
}

/* Optional: nicer font rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
